@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "İş Konuları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İş Konuları</h2>
<br />

<form asp-action="Index" method="get">
    <div class="form-row">
        <div class="col-md-4 mb-2">
            <div class="input-group">
                <input name="term" class="form-control" placeholder="Konu, konu detayı, konu kategorisi, anlaşma..." />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-info btn-sm">Ara</button>
                </div>
            </div>
        </div>

        <div class="col-md-5 offset-md-3 mb-2 text-right">
            <div class="btn-group ml-auto">
                @if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Create", "SubjectOfWork")" class="btn btn-sm mr-2" style="background-color: #008170; color: white;">İş Konusu Ekle</a>
                }
                <button class="btn btn-secondary btn-sm mr-2" type="button" data-toggle="collapse" data-target="#filterSection" aria-expanded="false" aria-controls="filterSection">
                    <i class="fas fa-plus"></i> Filtreler
                </button>
            </div>
        </div>
    </div>
</form>

<div id="filterSection" class="collapse">
    <form asp-action="Index" method="get">
        <div class="form-row">
            <div class="col-md-4 mb-2">
                <label for="minDate">Eklendiği Tarih (En Erken)</label>
                <input type="date" name="minDate" class="form-control" />
                <label for="maxDate">Eklendiği Tarih (En Geç)</label>
                <input type="date" name="maxDate" class="form-control" />
            </div>

            <div class="col-md-4 mb-2">
                <label for="selectedCategories">Kategori</label>
                <select id="selectedCategories" name="selectedCategories" multiple="multiple" class="form-control">
                    @foreach (var category in ViewBag.SelectedCategories)
                    {
                        <option value="@category.Value">@category.Text</option>
                    }
                </select>
            </div>

            <div class="col-md-4 mb-2">
                <label for="selectedAgreements">Anlaşma</label>
                <select id="selectedAgreements" name="selectedAgreements" multiple="multiple" class="form-control">
                    @foreach (var agreement in ViewBag.SelectedAgreements)
                    {
                        <option value="@agreement.Value">@agreement.Text</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-2">
                <button type="submit" class="btn btn-primary btn-sm">Filtrele</button>
            </div>
        </div>
    </form>
</div>

<br />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="Name" asp-route-sortDirection="@(ViewBag.CurrentSortOrder == "Name" ? ViewBag.CurrentSortDirection : "asc")" style="color: #304463;">İsim</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="Description" asp-route-sortDirection="@(ViewBag.CurrentSortOrder == "Description" ? ViewBag.CurrentSortDirection : "asc")" style="color: #304463;">Detay</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="Category" asp-route-sortDirection="@(ViewBag.CurrentSortOrder == "Category" ? ViewBag.CurrentSortDirection : "asc")" style="color: #304463;">Kategori</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="Agreement" asp-route-sortDirection="@(ViewBag.CurrentSortOrder == "Agreement" ? ViewBag.CurrentSortDirection : "asc")" style="color: #304463;">Anlaşmalar</a>
                </th>
                @if (User.IsInRole("Admin"))
                {
                    <th> </th>
                    <th> </th>                    
                }
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="10" class="text-center">Gösterilecek konu yok.</td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td rowspan="1">@item.Name.ToString()</td>
                    <td rowspan="1">@(!string.IsNullOrEmpty(item.Description) ? item.Description : "-")</td>
                    <td rowspan="1">@(!string.IsNullOrEmpty(item.Category) ? item.Category : "-")</td>

                    @if (item.AgreementSubjects != null && item.AgreementSubjects.Count > 0)
                    {
                        <td>
                            @foreach (var agreementSubject in item.AgreementSubjects)
                            {
                                @agreementSubject.Agreement.Name
                                <br />
                            }
                        </td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a href="@Url.Action("Edit", "SubjectOfWork", new { id = item.Id })" class="btn btn-success btn-sm" style="background-color: #FFC94A; border-color: #FFC94A;">Düzenle</a>
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Bu iş konusunu silmek istediğinize emin misiniz?');">
                                <button type="submit" class="btn btn-danger btn-sm" style="background-color: #C40C0C; border-color: #C40C0C;">Sil</button>
                            </form>
                        </td>                        
                    }
                </tr>
            }
        </tbody>


    </table>
</div>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@0.9.15/dist/css/bootstrap-multiselect.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap-multiselect@0.9.15/dist/js/bootstrap-multiselect.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#selectedAgreements').multiselect({
            nonSelectedText: 'Hiçbiri seçilmedi',
            nSelectedText: 'Seçildi',
            allSelectedText: 'Tümü seçildi',
            buttonWidth: '100%'
        });

        $('#selectedCategories').multiselect({
            nonSelectedText: 'Hiçbiri seçilmedi',
            nSelectedText: 'Seçildi',
            allSelectedText: 'Tümü seçildi',
            buttonWidth: '100%'
        });

    });
</script>
